@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  overflow-x: hidden;
}

.gif_container {
  position: relative;
}
.gif_container .preloader {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

.d-none {
  display: none;
}

.mt-80 {
  margin-top: 80px !important;
}

.main-header {
  position: fixed !important;
  top: 0;
}

.main-menu {
  top: 0;
}

.main-header-list {
  margin-left: 120px;
}

.watch-link-container {
  margin-top: 160px;
}
.watch-link-container a {
  color: black;
  font-size: 24px;
  font-weight: 500;
}
.watch-link-container span {
  margin-left: 10px;
  margin-right: 8px;
  font-size: 24px;
  font-weight: 500;
  font-family: "JetBrains Mono", monospace;
}

.main-heroes-center-mobile .mh_first_sec {
  display: flex;
  justify-content: space-between;
}
.main-heroes-center-mobile .mh_first_sec p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
  width: 139px;
}
.main-heroes-center-mobile .mh_center_p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
  width: 314px;
  margin: 30px auto;
}
.main-heroes-center-mobile .mh_last_sec {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.main-heroes-center-mobile .mh_last_sec p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
  width: 160px;
  text-align: right;
  margin-top: 36px;
}
.main-heroes-center-mobile .mh_last_sec img {
  width: 207px;
  position: absolute;
  left: -30px;
}

.main-heroes-footer-left {
  display: flex;
  align-items: baseline;
}

.main-heroes-footer-left-logos {
  position: relative;
  top: 24px;
}

.footer_top_arrow {
  position: absolute;
  width: 114px !important;
  height: 47px;
  top: 68px;
  right: 52px;
  background-color: #adf217;
  cursor: pointer;
  display: none;
}

.item_show_media {
  display: none;
}

.mobile_cola_image,
.mobile_cyberx_image,
.mobile_cyberx_image_sec,
.mobile_cyberx_image_third {
  display: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 120px;
}

#founders,
#contact,
#career {
  position: relative;
  top: -50px;
}

.cb-bg-color {
  position: relative;
}
.cb-bg-color div {
  border-radius: 295.302px;
  background: rgba(0, 209, 255, 0.4);
  filter: blur(58.2106018066px);
  width: fit-content;
  width: 303px;
  height: 92px;
  position: absolute;
}

.main-menu {
  display: none;
  background-color: #000000;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  padding: 50px 100px;
  color: #ffffff;
  text-transform: uppercase;
}
.main-menu a {
  text-decoration: none;
  color: #ffffff;
}
.main-menu #close-logo {
  cursor: pointer;
  margin-bottom: 20px;
}
.main-menu-games {
  margin-bottom: 30px;
}
.main-menu-games h4 {
  font-size: 22px;
  border-bottom: 3px solid #adf217;
  margin-bottom: 13px;
}
.main-menu-games p {
  font-size: 16px;
  margin-bottom: 13px;
}
.main-menu > p {
  font-size: 22px;
  margin-bottom: 22px;
}
.main-menu-tech {
  border-bottom: 3px solid #118dff;
}
.main-menu-web3 {
  border-bottom: 3px solid #8f00ff;
}
.main-menu-cg {
  border-bottom: 3px solid #ff5c00;
}
.main-menu-otherLinks {
  margin-top: 80px;
}
.main-menu-otherLinks p {
  font-size: 22px;
  margin-bottom: 17px;
}

.main-cybr-car-heroes-footer {
  display: none;
}

.main {
  background: white;
}
.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}
.main-header-logo {
  width: 30px;
  height: 30px;
  margin-right: 43px;
  cursor: pointer;
}
.main-header-menuIcon {
  display: none;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.main-header-btn {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  padding: 13px 37px;
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
}
.main-header-btn:hover {
  filter: drop-shadow(1px 2px 6px black);
  transition: 0.3s;
}
.main-header-btn-right {
  background-color: #adf217;
  margin-left: 43px;
}
.main-header-btn-right:hover {
  filter: none;
}
.main-header-btn-right span {
  display: block;
  position: absolute;
  left: 0;
  width: 8px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  z-index: 9;
}
.main-header-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/blackBg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 39px 110px;
}
.main-header-list .headerDesc {
  position: absolute;
  color: #ffffff;
  text-transform: uppercase;
  bottom: 13px;
  letter-spacing: 25px;
  left: 55%;
  transform: translate(-50%, 0);
  font-size: 14px;
}
.main-header-list a {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
.main-header-list a:hover {
  filter: brightness(0.5);
}
.main-header-list-line {
  margin-left: 30px;
  margin-right: 30px;
}
.main-header-list-logo {
  margin-left: 100px;
  margin-right: 100px;
}
.main-header-listMobile {
  display: none;
  width: 100%;
}
.main-header .mobile_menu {
  background: black;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  top: 0;
  z-index: 99;
}
.main-header .mobile_menu-logotype {
  width: 110px;
  height: 32px;
  margin: 24px auto 68px;
}
.main-header .mobile_menu-close {
  position: absolute;
  right: 30px;
  top: 28px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.main-header .mobile_menu-list {
  text-align: center;
  margin: 0 auto;
}
.main-header .mobile_menu-list li > a {
  font-size: 14px;
  margin-bottom: 18px;
  display: block;
  color: white;
  text-decoration: none;
}
.main-header .mobile_menu-list li ul {
  margin-top: 40px;
}
.main-section {
  display: flex;
  justify-content: space-between;
  margin-top: 188px;
}
.main-section-texts {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.main-section-texts h3 {
  font-size: 76px;
  line-height: 90px;
  font-weight: 800;
  margin-bottom: 33px;
  max-width: 560px;
}
.main-section-texts p {
  font-size: 60px;
  line-height: 84px;
  margin-bottom: 91px;
  font-weight: 400;
}
.main-section-texts-btns {
  display: flex;
}
.main-section-texts-btns-btn {
  font-size: 20px;
  padding: 20px 40px;
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  color: black !important;
}
.main-section-texts-btns-btn-left {
  background-color: #adf217;
  margin-right: 40px;
}
.main-section-imgBox {
  width: 50%;
  position: relative;
}
.main-section-imgBox img {
  width: 100%;
  height: 100%;
}
.main-section-imgBox .white-block {
  background: white;
}
.main-section-imgBox .white-block-left-top {
  width: 23px;
  height: 190px;
  position: absolute;
  left: 0;
  top: 0;
}
.main-section-imgBox .white-right-center {
  width: 23px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
}
.main-section-imgBox .white-block-left-bottom {
  width: 23px;
  height: 190px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.main-infusion {
  display: flex;
  justify-content: space-between;
  margin-top: 149px;
}
.main-infusion-left {
  display: flex;
  flex-direction: column;
  width: 960px;
}
.main-infusion-left .section-title {
  font-size: 40px;
  font-weight: 700;
  padding: 16px;
  color: #ffffff;
  background-color: #000000;
  width: fit-content;
  margin-bottom: 83px;
  line-height: 40px;
}
.main-infusion-left h3 {
  font-size: 30px;
  line-height: 43px;
  font-weight: 600;
  width: 720px;
}
.main-infusion-left h3 span {
  font-weight: 800;
}
.main-infusion-left p {
  font-size: 26px;
  line-height: 42px;
  font-weight: 400;
}
.main-infusion-left p:not(:last-child) {
  margin-bottom: 80px;
}
.main-infusion-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin-top: 80px;
}
.main-infusion-center div:not(:last-child) {
  margin-bottom: 72px;
}
.main-infusion-center div:nth-child(1) {
  width: 387px;
}
.main-infusion-center div:nth-child(3) {
  width: 387px;
}
.main-infusion-center div:nth-child(4) {
  width: 372px;
  position: relative;
  right: -77px;
}
.main-infusion-center div {
  width: 295px;
}
.main-infusion-center h3 {
  font-size: 26px;
  font-weight: 700;
}
.main-infusion-center p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}
.main-infusion-center ul li {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
}
.main-infusion-center ul li:not(:last-child) {
  margin-bottom: 40px;
}
.main-infusion-img {
  width: 260px;
}
.main-cyber {
  background-color: #000000;
  display: flex;
  margin-top: 24px;
  padding-top: 120px;
  padding-bottom: 100px;
}
.main-cyber-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.main-cyber-left .cb-bg-color div {
  width: 213px;
  height: 74px;
}
.main-cyber-left-logo {
  width: 213px;
  margin-bottom: 82px;
}
.main-cyber-left h3 {
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 44px;
  color: #ffffff;
  width: 516px;
  font-weight: 800;
}
.main-cyber-left-text {
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
  width: 522px;
  font-weight: 400;
}
.main-cyber-left-text:not(:last-child) {
  margin-bottom: 24px;
}
.main-cyber-left-first {
  width: 480px;
}
.main-cyber-left-google-play {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 40px;
}
.main-cyber-left-google-play-header {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ffffff;
}
.main-cyber-left-google-play-box {
  display: flex;
  padding: 13px 15px;
  background-color: #adf217;
  width: fit-content;
  align-items: center;
  border-radius: 2px;
}
.main-cyber-left-google-play-box-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.main-cyber-left-google-play-box-content span {
  font-size: 11px;
  color: #000000;
  margin-bottom: -2px;
}
.main-cyber-left-google-play-box-content p {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -1px;
}
.main-cyber-left-logos-header {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #ffffff;
}
.main-cyber-left-logos-imgs {
  display: flex;
}
.main-cyber-left-logos-imgs img:not(:last-child) {
  margin-right: 15px;
}
.main-cyber-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main-cyber-right-bgimage {
  height: 90%;
  object-fit: contain;
}
.main-cyber-right-watch {
  color: #ffffff;
  font-size: 20px;
  text-align: right;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-cyber-right-watch img {
  margin-right: 15px;
  width: 18px;
  height: 18px;
}
.main-cyber-right-watch a {
  margin-left: 15px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}
.main-cyber-right-subtext {
  font-size: 14px;
  color: #898989;
  margin-top: 15px;
  text-align: right;
}
.main-cybr-car {
  position: relative;
  min-height: 1500px;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-cybr-car-bgimg {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.main-cybr-car-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 9;
  position: relative;
}
.main-cybr-car-header h3 {
  font-size: 32px;
  color: #ffffff;
  width: 488px;
  line-height: 50px;
  font-weight: 800;
}
.main-cybr-car-header p {
  font-size: 20px;
  line-height: 38px;
  width: 540px;
  font-weight: 400;
  color: #ffffff;
}
.main-cybr-car-header img {
  width: 303px;
}
.main-cybr-car-footer {
  display: flex;
  justify-content: space-between;
  z-index: 9;
  position: relative;
}
.main-cybr-car-footer-box {
  display: flex;
  flex-direction: column;
  width: 446px;
}
.main-cybr-car-footer-box-line {
  width: 100%;
  height: 20px;
  background-color: #adf217;
}
.main-cybr-car-footer-box-count {
  display: flex;
  align-items: flex-start;
  margin-top: 55px;
}
.main-cybr-car-footer-box-count p {
  font-size: 62px;
  color: #ffffff;
  font-weight: 500;
  margin-right: 40px;
}
.main-cybr-car-footer-box-count span {
  font-size: 26px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 5px;
}
.main-arena {
  width: 100%;
  height: 1080px;
  position: relative;
}
.main-arena img {
  position: absolute;
  width: 100%;
  height: 1080px;
  left: 0;
  top: 0;
}
.main-heroes {
  background-color: #000000;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
.main-heroes-bgimg {
  object-fit: cover;
  position: absolute;
  width: 63%;
  right: -5px;
  top: 77px;
}
.main-heroes-header {
  display: flex;
  justify-content: space-between;
}
.main-heroes-header img {
  position: relative;
  left: -83px;
  width: 500px;
}
.main-heroes-header p {
  width: 567px;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}
.main-heroes-header div {
  width: 500px;
}
.main-heroes-center {
  width: 445px;
  margin-bottom: 80px;
}
.main-heroes-center p {
  font-size: 24px;
  line-height: 42px;
  color: #ffffff;
  width: 465px;
}
.main-heroes-center p span {
  font-weight: 700;
}
.main-heroes-center p:not(:last-child) {
  margin-bottom: 60px;
}
.main-heroes-center-last-p {
  margin-bottom: 0 !important;
  text-align: left !important;
}
.main-heroes-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-heroes-footer-left-google-play {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 47px;
}
.main-heroes-footer-left-google-play-header {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ffffff;
}
.main-heroes-footer-left-google-play-box {
  display: flex;
  padding: 13px 15px;
  background-color: #adf217;
  width: fit-content;
  align-items: center;
  border-radius: 2px;
}
.main-heroes-footer-left-google-play-box-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.main-heroes-footer-left-google-play-box-content span {
  font-size: 11px;
  color: #000000;
  margin-bottom: -2px;
}
.main-heroes-footer-left-google-play-box-content p {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -1px;
}
.main-heroes-footer-left-logos-header {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #ffffff;
}
.main-heroes-footer-left-logos-imgs {
  display: flex;
  height: 43px;
}
.main-heroes-footer-left-logos-imgs img:not(:last-child) {
  margin-right: 15px;
}
.main-heroes-footer-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -200px;
}
.main-heroes-footer-right-watch {
  color: #ffffff;
  font-size: 20px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 99999;
}
.main-heroes-footer-right-watch img {
  margin-right: 15px;
  width: 18px;
  height: 18px;
}
.main-heroes-footer-right-watch a {
  margin-left: 15px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}
.main-heroes-footer-right-subtext {
  font-size: 14px;
  color: #898989;
  margin-top: 53px;
  margin-bottom: 15px;
  text-align: right;
}
.main-heroes-footer-progress {
  margin-top: 250px;
}
.main-heroes-footer-progress .main-cybr-car-footer-box-count span {
  font-size: 16px;
  line-height: 28px;
}
.main-heroes-footer-progress .big-size {
  font-size: 24px !important;
}
.main-heroes-footer-progress .main-cybr-car-footer-box-count p {
  margin-right: 30px;
  margin-top: -11px;
}
.main-heroes-footer-progress .main-cybr-car-footer-box-count .fifty_part li {
  margin-bottom: 26px;
}
.main-heroes-footer-progress ul {
  list-style: none;
}
.main-heroes-footer-progress ul li {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 45px;
  width: 340px;
}
.main-info-section {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}
.main-info-section-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main-info-section-content h3 {
  font-size: 40px;
  padding: 16px;
  color: #ffffff;
  background-color: #000000;
  width: fit-content;
  margin-bottom: 26px;
  line-height: 40px;
}
.main-info-section-content-header {
  display: flex;
  margin-bottom: 44px;
}
.main-info-section-content-header-desc {
  font-size: 28px;
  color: #000000;
  font-weight: 800;
  margin-left: 60px;
}
.main-info-section-content-desc {
  font-size: 28px;
  color: #000000;
  font-weight: 800;
  margin-bottom: 84px;
  max-width: 428px;
}
.main-info-section-content .unique-texts {
  width: 517px;
}
.main-info-section-content .cyberX-texts {
  width: 628px;
}
.main-info-section-content .cgbox-texts {
  width: 570px;
}
.main-info-section-content .careers-texts {
  width: 486px;
}
.main-info-section-content-texts {
  font-size: 24px;
  line-height: 40px;
  color: #000000;
}
.main-info-section-content-texts p {
  font-weight: 400;
}
.main-info-section-content-texts p span {
  font-weight: 700;
}
.main-info-section-content-texts p:not(:last-child) {
  margin-bottom: 30px;
}
.main-info-section-content-link {
  font-size: 24px;
  color: #000000;
  margin-top: 100px;
}
.main-info-section-content-link span {
  width: fit-content;
  cursor: pointer;
}
.main-info-section-img {
  width: 50%;
}
.main-info-section-img img {
  width: 100%;
  height: 100%;
}
.main-founders-section {
  position: relative;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 350px;
}
.main-founders-section-infimg {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  object-fit: cover;
  height: 100%;
  top: 0;
}
.main-founders-section-content {
  position: relative;
  z-index: 9;
}
.main-founders-section-content h4 {
  line-height: 40px;
  font-size: 40px;
  color: #ffffff;
  padding: 16px;
  width: fit-content;
  background-color: #000000;
  margin-bottom: 82px;
}
.main-founders-section-content-founders {
  display: flex;
  justify-content: center;
}
.main-founders-section-content-founders > div {
  width: 50%;
  display: flex;
  align-items: flex-end;
}
.main-founders-section-content-founders > div div {
  display: flex;
  flex-direction: column;
}
.main-founders-section-content-founders > div div p {
  font-size: 36px;
  padding: 23px;
  background-color: #000000;
  color: #ffffff;
}
.main-founders-section-content-founders > div div p span {
  font-weight: 700;
}
.main-founders-section-content-founders > div:first-child {
  justify-content: end;
  margin-right: 170px;
}
.main-founders-section-content-founders > div:first-child > p {
  margin-right: 40px;
  text-align: right;
}
.main-founders-section-content-founders > div:last-child {
  margin-left: 170px;
  justify-content: start;
}
.main-founders-section-content-founders > div:last-child > p {
  margin-left: 40px;
  text-align: left;
}
.main-founders-section-content-founders > div > p {
  font-size: 20px;
  color: #000000;
  line-height: 32px;
  width: 272px;
}
.main-founders-section-content-founders > div > p span {
  font-weight: 600;
}
.main-contacts-section {
  padding-top: 114px;
  padding-bottom: 235px;
}
.main-contacts-section-header {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
}
.main-contacts-section-header h4 {
  font-size: 40px;
  color: #ffffff;
  padding: 16px;
  width: fit-content;
  background-color: #000000;
  line-height: 40px;
}
.main-contacts-section-header P {
  font-size: 28px;
  color: #000000;
  line-height: 38px;
  margin-left: 108px;
  width: 480px;
  font-weight: 600;
}
.main-contacts-section-header img {
  width: 210px;
  object-fit: contain;
  margin-left: auto;
}
.main-contacts-section-content {
  margin-left: 380px;
}
.main-contacts-section-content div {
  color: black;
}
.main-contacts-section-content div h5 {
  font-size: 28px;
  margin-bottom: 30px;
}
.main-contacts-section-content div:not(:last-child) {
  margin-bottom: 60px;
}
.main-contacts-section-content div a {
  font-size: 22px;
  border-bottom: 1px solid #000000;
  width: fit-content;
  text-decoration: none;
  display: block;
  color: #000000;
  position: relative;
}
.main-contacts-section-footer {
  display: flex;
  margin-left: 380px;
  margin-top: 130px;
  position: relative;
}
.main-contacts-section-footer a {
  cursor: pointer;
}
.main-contacts-section-footer a:not(:last-child) {
  margin-right: 64px;
}
.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 66px 120px;
  margin-top: 77px;
}
.main-footer-logo {
  width: 163px;
}
.main-footer a, .main-footer p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.modal-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5019607843);
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-wrapper-download {
  display: none;
  width: 800px;
  background-color: #000000;
  padding: 0 40px 40px 40px;
  max-height: 98vh;
  overflow: auto;
}
.modal-wrapper-download-close {
  display: block;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  right: 20px;
  top: 20px;
}
.modal-wrapper-download-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-wrapper-download-content-img {
  margin-bottom: 20px;
}
.modal-wrapper-download-content > img {
  height: 180px;
  object-fit: cover;
}
.modal-wrapper-download-content-logos-images {
  display: flex;
}
.modal-wrapper-download-content-logos-images img {
  height: 46px;
}
.modal-wrapper-download-content-logos-images img:first-child {
  cursor: pointer;
}
.modal-wrapper-download-content-logos-images img:not(:last-child) {
  margin-right: 15px;
}
.modal-wrapper-download-content-logos-texts {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}
.modal-wrapper-download-content > p {
  font-size: 14px;
  color: #898989;
}
.modal-wrapper-download-content:not(:last-child) {
  margin-bottom: 60px;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.main-heroes-header-slice,
.main-heroes-header-cathulhu,
.main-heroes-center-knight,
.main-heroes-center-shoot {
  display: none;
}

.founders-inf-mobile,
.mobile-user-name {
  display: none;
}

@media screen and (min-width: 1921px) {
  .container {
    max-width: 100% !important;
  }
}
@media only screen and (max-width: 1845px) {
  .main-header-list {
    padding: 39px 80px;
  }
  .main-header-list a {
    font-size: 14px;
  }
  .main-header-list-line {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main-header-list-logo {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media only screen and (max-width: 1629px) {
  .container {
    max-width: 1920px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .main-header-list a {
    font-size: 14px;
  }
  .main-contacts-section-footer a:not(:last-child) {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 1474px) {
  .main-header-btn {
    font-size: 16px;
  }
  .main-header-btn-left {
    margin-right: 10px;
  }
  .main-header-btn-right {
    margin-left: 10px;
  }
  .main-section-texts h3 {
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 25px;
  }
  .main-section-texts p {
    font-size: 45px;
    line-height: 60px;
  }
  .main-section-texts-btns-btn {
    font-size: 20px;
    padding: 16px 0;
  }
  .main-section-imgBox .white-block-left-top {
    height: 150px;
  }
  .main-section-imgBox .white-right-center {
    height: 260px;
  }
  .main-section-imgBox .white-block-left-bottom {
    height: 150px;
  }
  .main-arena {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .main-arena img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .main-cybr-car-header p {
    font-size: 18px;
    line-height: 36px;
    width: 398px;
  }
  .main-cybr-car-footer-box-count p {
    font-size: 36px !important;
  }
  .main-heroes-footer-progress ul li {
    font-size: 16px !important;
  }
  .main-cybr-car-footer-box-line {
    width: 90%;
  }
  .main-heroes-footer-progress .big-size {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1439px) {
  .main-header-list {
    margin-left: 78px;
  }
  .main-header-btn {
    font-size: 14px;
  }
  .main-header-list {
    padding: 24px 50px;
  }
  .main-header-list-line {
    margin-left: 15px;
    margin-right: 15px;
  }
  .main-header-list .headerDesc {
    letter-spacing: 18px;
    left: 56.4%;
    bottom: 10px;
  }
  .main-header-list-logo {
    width: 160px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .main-section-texts-btns-btn {
    padding: 16px;
  }
  .main-infusion-left {
    width: 400px;
  }
  .main-infusion-left h3 {
    font-size: 30px;
    line-height: 50px;
  }
  .main-header-list-logo {
    margin-left: 50px;
    margin-right: 50px;
  }
  .main-infusion-center {
    width: 760px;
  }
  .main-infusion-left p:not(:last-child) {
    margin-bottom: 40px;
  }
  .main-infusion-center h3 {
    font-size: 32px;
  }
  .main-cybr-car-header h3 {
    font-size: 24px;
    width: 368px;
  }
  .main-cybr-car-header p {
    font-size: 18px;
    width: 432px;
    line-height: 35px;
  }
  .main-cybr-car-footer-box {
    width: 360px;
  }
  .main-heroes-header img {
    width: 370px;
    left: -40px;
    object-fit: contain;
  }
  .main-heroes-header p {
    width: 420px;
    font-size: 24px;
    line-height: 38px;
  }
  .main-heroes-header div {
    width: 370px;
  }
  .main-heroes-center {
    width: 370px;
  }
  .main-heroes-center p {
    font-size: 20px;
    line-height: 36px;
  }
  .main-heroes-bgimg {
    width: 853px;
    top: 80px;
  }
  .main-info-section-content h3 {
    font-size: 34px;
    line-height: 36px;
  }
  .main-info-section-content-desc {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .main-info-section-content-texts {
    font-size: 20px;
    font-size: 18px;
    line-height: 34px;
    width: 520px !important;
  }
  .main-founders-section-content h4 {
    font-size: 34px;
    line-height: 36px;
  }
  .main-founders-section-content-founders > div > p {
    width: 220px;
    font-size: 16px;
    line-height: 24px;
  }
  .main-founders-section-content-founders > div:first-child {
    margin-right: 10px;
  }
  .main-founders-section-content-founders > div:last-child {
    margin-left: 10px;
  }
  .main-contacts-section-header h4 {
    font-size: 34px;
    line-height: 36px;
  }
  .main-contacts-section-header p {
    width: 370px;
    font-size: 20px;
    margin-left: 60px;
  }
  .main-contacts-section-content {
    margin-left: 297px;
  }
  .main-contacts-section-footer {
    margin-left: 297px;
  }
  .main-contacts-section-footer img:not(:last-child) {
    margin-right: 40px;
  }
}
@media only screen and (max-width: 1365px) {
  .main-header-btn {
    font-size: 14px;
  }
  .main-header-list {
    padding: 24px 50px;
  }
  .main-header-list-line {
    margin-left: 15px;
    margin-right: 15px;
  }
  .main-header-list-logo {
    margin-left: 50px;
    margin-right: 50px;
  }
  .main-section-texts h3 {
    font-size: 50px;
    line-height: 60px;
  }
  .main-section-texts p {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 55px;
  }
  .main-section-texts-btns-btn {
    font-size: 18px;
  }
  .main-section-imgBox .white-block-left-top {
    height: 100px;
  }
  .main-section-imgBox .white-right-center {
    height: 220px;
  }
  .main-section-imgBox .white-block-left-bottom {
    height: 100px;
  }
  .main-footer {
    padding: 50px;
  }
  .main-footer-logo {
    width: 110px;
  }
  .main-footer p {
    font-size: 14px;
  }
  .main-heroes-center p {
    width: 385px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 1279px) {
  .main-header-list {
    margin-left: 0 !important;
  }
  .watch-link-container {
    margin: 60px auto 0;
  }
  .tablet_splited_heroes {
    display: block;
  }
  .main-heroes-center-shoot {
    display: none !important;
  }
  .main-heroes-footer-right {
    position: unset;
  }
  .fifty_part {
    margin-top: -7px !important;
  }
  .fifty_part li {
    line-height: 22px !important;
    width: 98px !important;
    margin-bottom: 0 !important;
  }
  .count_fifty_part > p {
    margin-right: 25px !important;
  }
  .main-heroes {
    padding-right: 0;
  }
  .main-heroes-center > div {
    margin-top: 40px !important;
  }
  .main-heroes-center-knight {
    margin-left: 30px;
  }
  .main-cybr-car-footer {
    padding-right: 40px;
  }
  .main-heroes-center p {
    font-size: 18px;
    width: 324px !important;
  }
  .main-heroes-footer-right-watch {
    margin-top: 76px;
  }
  .main-heroes-footer-progress .main-cybr-car-footer-box-count p {
    margin-right: 17px;
  }
  .main-heroes-footer-progress .big-size {
    font-size: 15px !important;
  }
  .main-header {
    top: -1px;
  }
  .main-header-logo {
    position: absolute;
    right: 0;
    top: 30px;
  }
  .main-section {
    overflow-x: hidden;
  }
  .main-menu {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .main-menu #close-logo {
    position: absolute;
    top: 30px;
    right: 50px;
  }
  .main-menu > p {
    font-size: 15px;
    line-height: 20px;
  }
  .main-menu-games h4 {
    font-size: 15px;
    line-height: 20px;
  }
  .main-menu-games p {
    font-size: 12px;
    line-height: 16px;
  }
  .main-menu-otherLinks {
    margin-top: 56px;
  }
  .main-menu-otherLinks p {
    font-size: 15px;
    line-height: 20px;
  }
  .main-menu button {
    margin-left: 0;
    margin-top: 50px;
  }
  .modal-wrapper-download {
    width: 100%;
    height: 100vh;
  }
  .modal-wrapper-download-close {
    right: 50px;
    top: 30px;
  }
  .main-contacts-section-content,
  .main-contacts-section-footer {
    margin-left: 0;
  }
  .main-header-list .headerDesc {
    left: 49.4%;
    letter-spacing: 10px;
    bottom: 5px;
  }
  .main-header-list {
    padding: 25px 50px;
  }
  .item_hidden_media {
    display: none;
  }
  .item_show_media {
    display: block !important;
  }
  .main-header {
    justify-content: center;
  }
  .main-header .main-header-list-logo {
    margin-left: 40px;
    margin-right: 40px;
    height: 38px;
  }
  .main-section {
    flex-direction: column;
    align-items: center;
    margin-top: 142px;
  }
  .main-section .main-section-imgBox .white-block-left-top {
    right: -40px;
    left: unset;
    top: 0;
    height: 23px;
    width: 190px;
  }
  .main-section .main-section-imgBox .white-block-left-bottom {
    right: unset;
    left: -40px;
    top: 0;
    height: 23px;
    width: 190px;
  }
  .main-section .main-section-imgBox .white-right-center {
    margin: unset;
    bottom: 0;
    top: unset;
    left: 50%;
    transform: translate(-50%);
    height: 23px;
    width: 300px;
  }
  .main-section-imgBox {
    width: 100%;
  }
  .main-section-texts {
    width: 100%;
    align-items: center;
    text-align: center;
    max-width: 508px;
    margin-bottom: 70px;
  }
  .main-section-texts h3 {
    font-size: 46px;
    line-height: 52px;
    margin-bottom: 20px;
  }
  .main-section-texts p {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 40px;
  }
  .main-infusion {
    flex-direction: column;
    position: relative;
    margin-top: 0;
    padding-bottom: 70px;
  }
  .main-infusion-left {
    margin-top: 60px;
    width: 347px;
  }
  .main-infusion-left .section-title {
    margin-bottom: 57px;
    font-size: 28px;
    line-height: 36px;
  }
  .main-infusion-left h3 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 0;
    width: 500px;
  }
  .main-infusion-left p {
    font-size: 18px;
    line-height: 28px;
  }
  .main-infusion-center {
    margin-top: 63px;
    flex-direction: column;
  }
  .main-infusion-center h3 {
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 14px;
  }
  .main-infusion-center p {
    font-size: 18px;
    line-height: 28px;
  }
  .main-infusion-center ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .main-infusion-center ul li {
    font-size: 16px;
    line-height: 24px;
  }
  .main-infusion-center div:not(:last-child) {
    margin-bottom: 50px;
  }
  .main-infusion-center div:nth-child(1) {
    width: 430px;
  }
  .main-infusion-center div:nth-child(2) {
    width: 350px;
    order: 1;
  }
  .main-infusion-center div:nth-child(3) {
    width: 462px !important;
  }
  .main-infusion-center div:nth-child(4) {
    position: unset;
    order: 2;
    width: 450px;
  }
  .main-infusion-img {
    position: absolute;
    top: 0;
    right: -186px;
    height: 100%;
    width: 289px;
  }
  .main-infusion-img img {
    height: 100%;
    width: 100%;
  }
  .main-cyber {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 0;
  }
  .main-cyber-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 668px;
  }
  .main-cyber-left-logo {
    width: 276px;
    margin-bottom: 54px;
  }
  .main-cyber-left-logos-header, .main-cyber-left-google-play, .main-cyber-left-logos-imgs {
    display: none;
  }
  .main-cyber-left h3 {
    font-size: 26px;
    line-height: 38px;
  }
  .main-cyber-left-text {
    font-size: 18px;
    line-height: 30px;
    width: 490px;
  }
  .main-cyber-right {
    width: calc(100% + 80px);
    left: 0;
  }
  .main-cyber-right-car-text-mobile {
    margin-top: 60px;
    margin-bottom: 64px;
  }
  .main-cyber-right-car-text-mobile h3 {
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    width: 495px;
    margin-bottom: 40px;
  }
  .main-cyber-right-car-text-mobile p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 507px;
  }
  .main-cyber-right-watch, .main-cyber-right-subtext {
    display: none;
  }
  .main-cyber-right-watch-custom, .main-cyber-right-subtext-custom {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 12px;
  }
  .main-cybr-car {
    min-height: 602px;
    justify-content: flex-end;
    padding-bottom: 56px;
  }
  .main-cybr-car-footer-box {
    width: auto;
  }
  .main-cybr-car-footer-box-line {
    height: 12px;
    width: 190px;
  }
  .main-cybr-car-footer-box-count {
    margin-top: 33px;
  }
  .main-cybr-car-footer-box-count span {
    font-size: 15px;
    width: 85px;
  }
  .main-cybr-car-footer-box-count p {
    font-size: 34px;
    margin-right: 16px;
  }
  .main-cybr-car-header {
    display: none;
  }
  .main-cybr-car2 {
    background-color: black;
    padding-bottom: 130px;
    padding-top: 75px;
  }
  .main-cybr-car2-heroes-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  .main-cybr-car2-heroes-footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
  }
  .main-cybr-car2-heroes-footer-left-google-play {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .main-cybr-car2-heroes-footer-left-google-play-header {
    font-size: 14px;
    margin-top: 10px;
    color: #ffffff;
  }
  .main-cybr-car2-heroes-footer-left-google-play-box {
    display: flex;
    padding: 8px 13px;
    background-color: #adf217;
    align-items: center;
    border-radius: 2px;
    height: 46px;
  }
  .main-cybr-car2-heroes-footer-left-google-play-box img {
    width: 24px;
    height: 26px;
  }
  .main-cybr-car2-heroes-footer-left-google-play-box-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .main-cybr-car2-heroes-footer-left-google-play-box-content span {
    font-size: 9px;
    color: #000000;
    margin-bottom: -2px;
  }
  .main-cybr-car2-heroes-footer-left-google-play-box-content p {
    font-size: 13px;
    font-weight: 800;
    letter-spacing: -1px;
  }
  .main-cybr-car2-heroes-footer-left-logos-header {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    color: #ffffff;
    float: right;
  }
  .main-cybr-car2-heroes-footer-left-logos-imgs {
    display: flex;
    height: 46px;
  }
  .main-cybr-car2-heroes-footer-left-logos-imgs img:not(:last-child) {
    margin-right: 15px;
  }
  .main-cybr-car2-heroes-footer-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .main-cybr-car2-heroes-footer-right-watch {
    color: #ffffff;
    font-size: 20px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .main-cybr-car2-heroes-footer-right-watch img {
    margin-right: 15px;
    width: 18px;
    height: 18px;
  }
  .main-cybr-car2-heroes-footer-right-watch a {
    margin-left: 15px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
  }
  .mobile_cola_image img,
  .mobile_cyberx_image img,
  .mobile_cyberx_image_sec img,
  .mobile_cyberx_image_third img {
    width: 100%;
  }
  .main-info-section {
    width: 100%;
  }
  .main-info-section-content {
    width: 100%;
  }
  .main-info-section-content-header {
    width: 668px;
  }
  .main-info-section-content-texts {
    width: 668px !important;
  }
  .main-info-section-content-texts p {
    width: 100%;
  }
  .main-info-section-img {
    width: 50%;
  }
  .main-info-section-img img {
    width: 100%;
    height: 100%;
  }
  .main-arena {
    height: 481px;
  }
  .main-founders-section {
    padding-bottom: 30px;
    padding-top: 0;
    margin-top: 90px;
  }
  .main-founders-section .main-founders-section-content-founders > div div img {
    width: 180px;
    height: 206px;
    object-fit: cover;
  }
  .main-founders-section .main-founders-section-content-founders > div div p {
    font-size: 23px;
    line-height: 23px;
  }
  .main-founders-section .main-founders-section-content-founders > div:last-child {
    flex-direction: column;
    align-items: flex-end;
  }
  .main-founders-section .main-founders-section-content-founders > div:last-child > p {
    order: 1;
    text-align: left;
    margin-top: 17px;
    font-size: 14px;
    line-height: 20px;
    margin-left: 0;
    width: 180px;
  }
  .main-founders-section .main-founders-section-content-founders > div:first-child {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-founders-section .main-founders-section-content-founders > div:first-child > p {
    order: 1;
    text-align: left;
    margin-top: 17px;
    font-size: 14px;
    line-height: 20px;
    width: 180px;
  }
  .main-info-section-content h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .main-contacts-section {
    padding-bottom: 0;
  }
  .main-contacts-section .main-contacts-section-header img {
    display: none;
  }
  .main-contacts-section .main-contacts-section-header {
    margin-bottom: 90px;
  }
  .main-contacts-section .main-contacts-section-content div h5 {
    font-size: 22px;
    line-height: unset;
    margin-bottom: 10px;
  }
  .main-contacts-section .main-contacts-section-content div a {
    font-size: 18px;
    line-height: unset;
  }
  .main-contacts-section .main-contacts-section-footer {
    justify-content: space-between;
    margin-top: 90px;
    padding-bottom: 0;
  }
  .main-contacts-section .main-contacts-section-footer img {
    width: 47px;
    height: 47px;
  }
  .main-contacts-section .main-contacts-section-footer a:not(:last-child) {
    margin-right: 0;
  }
  .main-heroes {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .main-heroes .main-heroes-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main-heroes .main-heroes-header img {
    left: unset;
    width: unset;
  }
  .main-heroes .main-heroes-header-slice {
    position: absolute;
    left: 5px !important;
    top: 40px !important;
    display: block;
  }
  .main-heroes .main-heroes-header-cathulhu {
    position: absolute;
    right: 0px !important;
    top: -30px !important;
    display: block;
  }
  .main-heroes .main-heroes-header-heroeslogo {
    width: 267px;
    height: 162px;
    order: 1;
  }
  .main-heroes .main-heroes-header p {
    font-size: 26px;
    line-height: 40px;
    width: 345px;
  }
  .main-heroes-center {
    width: 100%;
  }
  .main-heroes-center p {
    position: relative;
  }
  .main-heroes-center-knight, .main-heroes-center-shoot {
    display: block;
  }
  .main-heroes-center div:first-child {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .main-heroes-center div:first-child p {
    width: 375px;
  }
  .main-heroes-center p:last-child {
    display: flex;
    align-items: flex-end;
    width: 100%;
    order: 1;
    text-align: right;
  }
  .main-heroes-center p:last-child img {
    order: -1;
    width: 350px;
  }
  .main-heroes-footer {
    flex-direction: column;
    order: 1;
  }
  .main-heroes-footer-left {
    width: 100%;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-heroes-footer-left-google-play {
    margin-top: 0;
    margin-bottom: 0;
  }
  .main-heroes-footer-left-google-play-box {
    padding: 7px 15px;
  }
  .main-heroes-footer-left-google-play-header {
    order: 1;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .main-heroes-footer-left-logos {
    display: flex;
    flex-direction: column;
    top: -5px;
    left: -77px;
  }
  .main-heroes-footer-left-logos-header {
    order: 1;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: right;
  }
  .main-heroes-footer-right {
    width: 100%;
    margin-bottom: 81px;
  }
  .main-heroes-footer-right-watch {
    justify-content: flex-start;
  }
  .main-heroes-footer-right-subtext {
    display: none;
  }
  .main-heroes .main-heroes-bgimg {
    display: none;
  }
  .main-section-imgBox img {
    width: 100%;
  }
  .main-section-texts-btns-btn {
    margin-right: 0;
  }
  .main-cybr-car2-heroes-footer-left-logos-header,
  .main-cybr-car2-heroes-footer-left-google-play-header,
  .main-heroes-footer-left-google-play-header,
  .main-heroes-footer-left-logos-header {
    font-size: 13px;
  }
  .main-heroes-footer-left-logos-header {
    position: relative;
    right: -34px;
  }
  .main-info-section-content {
    position: relative;
  }
  .main-info-section-content-desc {
    font-size: 20px;
    line-height: 24px;
    max-width: 303px;
  }
  .main-info-section-content-header-desc {
    font-size: 20px;
    line-height: 28px;
    margin-left: 34px;
  }
  .main-info-section-content h3 {
    padding: 8px 16px;
  }
  .unique-ads .main-info-section-content-desc {
    position: absolute;
    left: 380px;
  }
  .main-info-section-content-texts p {
    font-size: 18px;
    line-height: 26px;
  }
  .main-info-section-content-desc {
    margin-bottom: 26px;
  }
  .main-info-section-content-link {
    margin-top: 50px;
    font-size: 18px;
  }
  .main-founders-section-content h4,
  .main-contacts-section-header h4 {
    font-size: 28px;
    padding: 8px 16px;
  }
  .main-contacts-section-header p {
    font-size: 20px;
    line-height: 28px;
    margin-left: 34px;
    font-weight: 800;
  }
  .main-contacts-section-content div:not(:last-child) {
    margin-bottom: 50px;
  }
  .main-footer p, .main-footer a {
    font-size: 12px;
  }
  .main-section-imgBox {
    width: calc(100% + 80px);
    position: relative;
    left: 0;
  }
  .careers-section .main-info-section-content-desc {
    max-width: 590px;
  }
  .careers-section .main-info-section-content-texts p {
    max-width: 488px;
  }
  .careers-section .main-info-section-content-link {
    font-weight: bold;
    line-height: 30px;
  }
  .careers-section .main-info-section-content-link span {
    font-weight: normal;
  }
  .main-founders-section-infimg {
    transform: scaleY(-1) translate(-50%, 0);
  }
  .main-info-section {
    padding-bottom: 50px;
  }
  .main-heroes-footer-progress .main-cybr-car-footer-box-count span {
    font-size: 10px;
    width: 95px;
    line-height: 15px;
  }
  .main-heroes-footer-progress ul li {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 19px;
    width: 170px;
  }
  .main-heroes-footer-progress {
    margin-top: 50px;
  }
  .tablet_splited_heroes {
    position: relative;
    top: -50px;
  }
}
@media only screen and (max-width: 767px) {
  .main-section {
    margin-top: 120px;
  }
  .main-heroes .main-heroes-header-cathulhu {
    top: 20px !important;
  }
  .main-heroes .main-heroes-header img {
    top: -70px;
  }
  .main-heroes-center-knight {
    margin-left: 5px;
  }
  .watch-link-container span, .watch-link-container a {
    font-size: 18px;
  }
  .watch-link-container {
    text-align: center;
  }
  .about_part {
    padding-right: 0 !important;
  }
  .main-infusion-center h3 {
    font-size: 16px;
    line-height: 30px;
  }
  .main-infusion-center p {
    line-height: 18px !important;
  }
  .main-infusion-left h3 {
    font-size: 18px !important;
    line-height: 25px !important;
    width: 240px;
  }
  .main-infusion-center div:nth-child(1) {
    width: 234px;
  }
  .main-infusion-center div:nth-child(2) {
    width: 246px;
  }
  .main-infusion-center div:nth-child(3) {
    width: 280px !important;
  }
  .main-infusion-center div:nth-child(4) {
    width: 268px;
  }
  .main-heroes-footer-right-watch {
    margin-top: 90px;
  }
  .main-heroes-footer-progress .big-size {
    font-size: 9px !important;
  }
  .main-heroes-footer-progress .main-cybr-car-footer-box:not(:last-child) {
    margin-bottom: 80px;
  }
  .main-cybr-car-footer-box-count p {
    font-size: 16px !important;
    margin-bottom: 9px !important;
  }
  .main-heroes-footer-progress .main-cybr-car-footer-box-count span {
    font-size: 12px;
    width: 100%;
  }
  .main-founders-section-content-founders > div > p span {
    display: block;
  }
  .main-heroes-footer-progress ul {
    margin-left: 0;
  }
  .main-heroes-footer-progress ul li {
    font-size: 9px !important;
    line-height: 14px !important;
    width: 72px !important;
  }
  .main-founders-section-content-founders > div > p span:not(.mobile-user-name) {
    width: 100px;
  }
  .footer_top_arrow {
    display: block;
  }
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-header-logo {
    right: -15px;
    width: 20px;
    height: 20px;
  }
  .main-section-imgBox img {
    width: 100%;
    position: unset;
  }
  .main-section .main-section-imgBox .white-block-left-top {
    right: -30px;
    left: unset;
    top: 0;
    height: 15px;
    width: 100px;
  }
  .main-section .main-section-imgBox .white-block-left-bottom {
    left: -30px;
    right: unset;
    top: 0;
    height: 15px;
    width: 100px;
  }
  .main-section .main-section-imgBox .white-right-center {
    width: 200px;
    height: 15px;
  }
  .main-header-list {
    padding: 21px 0px;
  }
  .main-header-list .headerDesc {
    font-size: 10px;
    left: 52.4%;
    letter-spacing: 12px;
    bottom: 3px;
  }
  .main-header-list a {
    display: none !important;
  }
  .modal-wrapper-download-content-logos-images img:not(:last-child) {
    margin-right: 0;
  }
  .modal-wrapper-download-content-logos-images {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .modal-wrapper-download-content-logos-images img {
    margin-right: 0;
    height: 31px;
    width: 30%;
  }
  .modal-wrapper-download-content-logos-images img:first-child {
    width: 100%;
    margin-bottom: 16px;
  }
  .modal-wrapper-download-content-logos-texts {
    display: none;
  }
  .main-section-texts {
    margin-bottom: 44px;
  }
  .main-section-texts h3 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 12px;
    width: 204px;
  }
  .main-section-texts p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 37px;
    width: 188px;
  }
  .main-section-texts-btns-btn {
    font-size: 14px;
    margin-right: 0;
  }
  .main-infusion-left {
    margin-top: 60px;
    width: 268px;
  }
  .main-infusion-left .section-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 28px;
    padding: 10px;
  }
  .main-infusion-left h3 {
    font-size: 22px;
    line-height: 30px;
  }
  .main-infusion-left p {
    font-size: 15px;
    line-height: 22px;
  }
  .main-infusion-center {
    width: 280px;
  }
  .main-infusion-center h3 {
    font-size: 22px;
    line-height: 30px;
  }
  .main-infusion-center p,
  .main-infusion-center li {
    font-size: 13px !important;
    line-height: 22px;
  }
  .main-cyber-left h3 {
    font-size: 18px;
    line-height: 25px;
    width: 286px;
  }
  .main-cyber-left p {
    font-size: 14px;
    line-height: 20px;
    width: 230px;
  }
  .main-cyber-left-logo {
    width: 236px;
  }
  .main-cyber-right-car-text-mobile h3 {
    font-size: 20px;
    line-height: 25px;
    width: 286px;
    text-align: center;
  }
  .main-cyber-right-car-text-mobile p {
    font-size: 14px;
    line-height: 20px;
    width: 286px;
  }
  .main-cyber-right {
    width: calc(100% + 60px);
  }
  .main-cyber-right-subtext-custom {
    text-align: center;
  }
  .main-cyber-right h3 {
    font-size: 20px;
    line-height: 25px;
    width: 100%;
  }
  .main-cybr-car-footer-box {
    width: 83px;
  }
  .main-cybr-car-footer-box-line {
    width: 82px;
  }
  .main-cybr-car {
    height: 580px;
    min-height: 580px;
  }
  .main-infusion {
    overflow: hidden;
  }
  .main-heroes .main-heroes-header-slice {
    height: 170px;
  }
  .main-heroes .main-heroes-header p {
    font-size: 14px;
    line-height: 20px;
    width: 190px;
    position: relative;
    top: -60px;
    left: 8px;
  }
  .main-heroes .main-heroes-header-heroeslogo {
    height: 81px;
  }
  .main-heroes-center p {
    font-size: 11px;
    line-height: 16px;
  }
  .main-heroes-center-knight {
    height: 150px;
  }
  .main-heroes-center-shoot {
    height: 180px;
  }
  .main-heroes .main-heroes-header-cathulhu {
    height: 207px;
    top: 4px !important;
  }
  .main-infusion-img {
    transform: rotate(180deg);
    right: -240px;
  }
  .main-cybr-car2-heroes-footer-left {
    flex-direction: column;
  }
  .main-cybr-car2-heroes-footer-left img {
    height: 31px;
  }
  .main-arena {
    height: 270px;
  }
  .main-heroes-footer-left {
    flex-direction: column;
  }
  .main-heroes-footer-left img {
    height: 31px;
  }
  .main-cybr-car-footer-box-count {
    margin-top: 25px !important;
    flex-direction: column;
  }
  .main-cybr-car-footer-box-count p {
    font-size: 16px;
    margin-right: 5px;
  }
  .main-cybr-car-footer-box-count span {
    font-size: 8px;
    margin-top: 2px;
  }
  .main-heroes-center div:first-child {
    align-items: flex-start;
  }
  .main-cybr-car-footer {
    padding-right: 0;
    margin-top: 80px;
  }
  .main-heroes-footer-right-watch {
    margin-top: 4px;
  }
  .main-heroes-footer-right {
    margin-bottom: 35px;
  }
  .main-info-section-content h3 {
    font-size: 20px;
    line-height: 26px;
    padding: 10px;
  }
  .main-info-section-content p {
    font-size: 13px;
    line-height: 18px;
  }
  .main-info-section-content-header {
    margin-bottom: 25px;
  }
  .main-info-section {
    padding-top: 80px;
    padding-bottom: 38px;
  }
  .main-contacts-section-header h4 {
    font-size: 20px;
    line-height: 26px;
    padding: 10px;
  }
  .main-contacts-section-header p {
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
  }
  .main-info-section-content-header-desc {
    margin-left: 10px;
  }
  .main-contacts-section-content div h5 {
    font-size: 15px !important;
    margin-bottom: 5px !important;
  }
  .main-contacts-section-content div a {
    font-size: 14px !important;
  }
  .main-contacts-section .main-contacts-section-footer {
    flex-wrap: wrap;
  }
  .main-contacts-section-content div:not(:last-child) {
    margin-bottom: 30px;
  }
  .main-info-section-content-header h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .main-info-section-content-header p {
    font-size: 16px;
  }
  .main-info-section-content-texts {
    width: 100% !important;
  }
  .main-founders-section-content-founders {
    flex-direction: column;
  }
  .main-founders-section-infimg {
    display: none;
  }
  .main-founders-section .main-founders-section-content-founders > div:first-child {
    flex-direction: unset;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .main-founders-section .main-founders-section-content-founders > div:first-child p {
    width: 150px;
    margin-right: 0;
    margin-left: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .main-founders-section .main-founders-section-content-founders > div:first-child div {
    border-bottom: 10px solid black;
  }
  .main-founders-section .main-founders-section-content-founders > div:first-child div p {
    display: none;
  }
  .main-founders-section .main-founders-section-content-founders > div:first-child img {
    width: 150px;
    height: 150px;
  }
  .main-founders-section .main-founders-section-content-founders > div:last-child {
    flex-direction: unset;
    width: 100%;
    justify-content: flex-start;
    margin-left: 0;
    align-items: flex-end;
  }
  .main-founders-section .main-founders-section-content-founders > div:last-child p {
    width: 150px;
    margin-right: 0;
    margin-left: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .main-founders-section .main-founders-section-content-founders > div:last-child div {
    border-bottom: 10px solid black;
  }
  .main-founders-section .main-founders-section-content-founders > div:last-child div p {
    display: none;
  }
  .main-founders-section .main-founders-section-content-founders > div:last-child img {
    width: 150px;
    height: 150px;
    transform: scaleX(-1);
  }
  .founders-inf-mobile {
    display: block;
    margin-top: 35px;
    margin-bottom: 35px;
    width: calc(100% + 60px);
    position: relative;
    left: -30px;
  }
  .mobile-user-name {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 14px;
    color: #ffffff;
    padding: 8px 16px;
    background-color: #000000;
    width: fit-content;
  }
  .main-contacts-section-header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 44px !important;
  }
  .main-contacts-section-header h4 {
    margin-bottom: 14px;
  }
  .main-contacts-section-header p {
    margin-left: 0;
  }
  .main-contacts-section .main-contacts-section-footer {
    justify-content: flex-start;
    gap: 16px;
    margin-top: 60px;
    width: 350px;
  }
  .main-founders-section-content h4 {
    font-size: 20px;
    line-height: 26px;
    padding: 10px;
  }
  .unique-ads .main-info-section-content-desc {
    position: unset;
    max-width: 265px;
  }
  .main-info-section-content-desc {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  .main-info-section-content-header p {
    line-height: 23px;
  }
  .main-footer {
    padding: 20px 30px;
  }
  .main-footer-logo {
    width: 56px;
  }
  .main-footer p, .main-footer a {
    font-size: 10px;
    max-width: 100px;
  }
  .main-contacts-section-header p {
    width: 274px;
  }
  .main-section-imgBox {
    width: calc(100% + 60px);
    position: relative;
    left: 0;
  }
  .main-cybr-car2-heroes-footer-left-google-play,
  .main-heroes-footer-left-google-play {
    margin-bottom: 20px;
  }
  .main-cybr-car2-heroes-footer-left-google-play-box,
  .main-heroes-footer-left-google-play-box {
    order: 1;
  }
  .main-cybr-car2-heroes-footer-left-google-play-header,
  .main-heroes-footer-left-google-play-header {
    font-size: 10px;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 0;
  }
  .main-heroes-footer-left-google-play {
    margin-right: 0;
  }
  .main-cybr-car2-heroes-footer-left-google-play-box,
  .main-heroes-footer-left-google-play-box {
    padding: 4px 8px;
  }
  .main-cybr-car2-heroes-footer-right-watch,
  .main-heroes-footer-right-watch {
    font-size: 14px;
    text-align: center;
    justify-content: center;
  }
  .main-cybr-car2-heroes-footer-left {
    margin-top: 50px;
  }
  .main-cybr-car2 {
    padding-bottom: 70px;
    padding-top: 50px;
  }
  .main-cybr-car2-heroes-footer-left-logos,
  .main-heroes-footer-left-logos {
    display: flex;
    flex-direction: column;
    position: unset;
  }
  .main-cybr-car2-heroes-footer-left-logos-imgs,
  .main-heroes-footer-left-logos-imgs {
    order: 1;
  }
  .main-cybr-car2-heroes-footer-left-logos-header,
  .main-heroes-footer-left-logos-header {
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 0;
    text-align: left;
    position: unset;
  }
  .main-heroes-footer-left-google-play-box-content p {
    font-size: 13px;
  }
  .main-heroes-center {
    display: none !important;
  }
  .main-heroes-center-mobile {
    display: block;
  }
  .careers-section .main-info-section-content-desc {
    width: 321px;
  }
  .careers-section .main-info-section-content-texts p {
    width: 240px;
  }
  .careers-section .main-info-section-content-link {
    font-weight: bold;
    line-height: 30px;
  }
  .careers-section .main-info-section-content-link span {
    font-weight: normal;
  }
}
@media screen and (max-width: 600px) {
  .main-cybr-car {
    height: 500px;
    min-height: 500px;
  }
}
@media screen and (max-width: 566px) {
  .main-cybr-car {
    height: 420px;
    min-height: 420px;
  }
}
@media screen and (max-width: 450px) {
  .main-cybr-car {
    height: 400px;
    min-height: 400px;
  }
}
@media screen and (max-width: 440px) {
  .main-cybr-car {
    height: 326px;
    min-height: 326px;
  }
  .main-cybr-car-footer {
    top: 30px;
  }
}
@media only screen and (max-width: 374px) {
  .main-infusion-left {
    width: 230px;
  }
  .main-infusion-left h3 {
    font-size: 16px;
  }
  .main-infusion-left p {
    font-size: 14px;
  }
  .main-infusion-center {
    width: 235px;
  }
  .main-info-section-content p {
    width: 282px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-cybr-car {
    height: 300px;
    min-height: 300px;
  }
  .main-header-logo {
    right: -25px;
  }
  .modal-wrapper-download {
    overflow-x: hidden;
  }
  .main-infusion-left h3 {
    width: 202px;
    font-size: 16px !important;
  }
  .main-infusion-center div p {
    font-size: 11px !important;
  }
  .main-infusion-center div:nth-child(1) {
    width: 190px;
  }
  .main-infusion-center div:nth-child(2) {
    width: 177px !important;
  }
  .main-infusion-center div:nth-child(3) {
    width: 190px !important;
  }
  .main-infusion-center div:nth-child(4) {
    width: 186px;
  }
  .main-contacts-section-footer {
    width: 289px;
  }
  .footer_top_arrow {
    left: 0;
    right: unset;
    top: 136px;
  }
  .main-contacts-section .main-contacts-section-footer {
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
